<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="FlightLogConfig" type="Illallangi.FlightLog.Config.FlightLogConfig,Illallangi.FlightLog"/>
  </configSections>
  <FlightLogConfig DbPath="FlightLog.dat" ConnectionString="data source=&quot;{0}&quot;">
    <Extension>
      <add Value="zumero.dll" />
    </Extension>
    <Pragma>
      <add Value="foreign_keys = ON" />
    </Pragma>
    <SqlSchema>
      <add Value="Illallangi.FlightLog.sql" />
    </SqlSchema>
  </FlightLogConfig>
</configuration>